<% include ../partials/header.ejs %>

<!-- Content goes here -->

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1><%= title %></h1>
      <br />
      <table class="table table-bordered table-striped table-hover">
        <!-- Header Row-->
        <tr>
          <th class="text-center">FirstName</th>
          <th class="text-center">LastName</th>
          <th class="text-center">Contact</th>
          <th class="text-center">Email</th>
          <th class="text-center">Message</th>
        </tr>

        <!-- Template Row-->
        <% for(let count = 0; count < contactList.length; count++) { %>
        <tr>
          <td class="text-center"><%= contactList[count].fname %></td>
          <td class="text-center"><%= contactList[count].lname %></td>
           <td class="text-center"><%= contactList[count].contact %></td>
            <td class="text-center"><%= contactList[count].email %></td>
             <td class="text-center"><%= contactList[count].message %></td>

        </tr>
        <% } %>
      </table>
    </div>
  </div>
</div>
<% include ../partials/footer.ejs %>
